.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #DFE4EA;
  overflow: hidden;

  color: #9CA3AF;
  background-color: var(--white);
}

.endIndent {
  padding-right: 16px;
}

.input {
  width: 100%;
  padding: 9px 14px;
  background-color: transparent;

  font-family: 'Montserrat', system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: inherit;

  border: none;
}

.input:focus,
.input:focus-within,
.input:active {
  outline: none;
}